.bg-img1 {
  height: 80vh;
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(blue, black);
}
.bg-img2 {
  height: 80vh;
  background-color: #000;
  background-size: cover;
  background-image: url(image/b.jpg);
}
.bg-img3 {
  height: 80vh;
  background-color: #000;
  background-size: cover;
  background-image: url(image/c.jpg);
}
